a {
  text-decoration: none;
  color: black;
}

body {
  /*background-color: gray;*/
  background: linear-gradient( #ffff99, #ff99cc);

}

h1 {
  color: #333333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  font-size: 24px;
  font-weight: 800;
}

.underlined {
  border-bottom: 1px solid white;
}

.image {
  width: 400px;
  border-radius: 50%;
}

.project-card {
  border: 1px solid blue;
  width: 200px;
  display: inline-block;
  margin: 100px;
  padding: 5px;
}
