a {
  text-decoration: none;
  color: black;
}

body {
  height: 200px;
  background-color: gray;
}

h1 {
  color: white;
}

.header {
  font-size: 24px;
  font-weight: 800;
}

.underlined {
  border-bottom: 1px solid white;
}

.image {
  width: 400px;
  border-radius: 50%;
}
